:root {
  --header-height: 60px;
}

html {
    overflow-y: scroll;
}

html, body {
    margin: 0;
}

@media (max-width: 768px) {
    body {
        padding-bottom: var(--header-height);
        box-sizing: border-box;
    }
}

.centered {
    width: 30em;
    margin: auto;
    display:grid;
}

h2 {
    padding: 1em 2em;
}

.card-span {
    font-size: 12px;
    margin: 5px;
    padding: 5px;
    border-radius: 10%;
    display: inline-block;
}

.technique {
    background-color: darkgrey;
}

.humain {
    background-color: darkturquoise;
}

.error {
    color: red;
    text-align: center;
}