:root {
  --header-height: 60px;
  --primary-color: #81c553;
  --secondary-color: #d17474;
  --tertiary-color: #2a8846;
  --dev-color: #b3e493;
  --human-color: rgb(226, 204, 241);
  --devops-color: rgb(175, 235, 227);
  --text-color: rgb(5,15,5,1);
}

html {
    overflow-y: scroll;
}

html, body {
    margin: 0;
}

@media (max-width: 768px) {
    body {
        padding-bottom: var(--header-height);
        box-sizing: border-box;
    }
}

.container {
    background: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.centered {
    width: 30em;
    margin: auto;
    display:grid;
}

h1, h2 {
    padding: 1em 2em;
}

.card-span {
    color: var(--text-color);
    font-size: 12px;
    margin: 5px;
    padding: 5px;
    border-radius: 10%;
    display: inline-block;
}

.technique {
    background-color: var(--dev-color);
}

.humain {
    background-color: var(--human-color);
}

.devops {
    background-color: var(--devops-color);
}

.error {
    color: red;
    text-align: center;
}

a.link {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

a.link:hover {
    color: var(--dev-color);
    text-decoration: underline;
}

.my-pic {
    width: clamp(150px, 15vw, 250px);
    height: clamp(150px, 15vw, 250px);
    background-color: whitesmoke;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3),
                0 4px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    object-position: center -20px;
    transition: all 0.3s ease;
}

.my-pic:hover {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.4),
                0 6px 15px rgba(0, 0, 0, 0.6);
}