- name: Configuration Nginx et SSL
  hosts: webserver
  remote_user: ubuntu
  become: true
  vars:
    domain_name: "clementcalia.fr"
    app_port: 8080

  tasks:
    - name: Installer Nginx et Certbot
      apt:
        name:
          - nginx
          - certbot
          - python3-certbot-nginx
        state: present
        update_cache: yes

    - name: Vérifier si le certificat SSL existe
      stat:
        path: "/etc/letsencrypt/live/{{ domain_name }}/fullchain.pem"
      register: ssl_cert_check

    - name: Créer la configuration Nginx Reverse Proxy
      template:
        src: ./conf/nginx_proxy.j2
        dest: "/etc/nginx/sites-available/{{ domain_name }}"
      # On ne reload Nginx ici que si le fichier est valide
      notify: Reload Nginx

    - name: Obtenir le certificat SSL (si absent)
      command: >
        certbot certonly --nginx -d {{ domain_name }} -d www.{{ domain_name }} 
        --non-interactive --agree-tos -m clementcalia@gmail.com
      when: not ssl_cert_check.stat.exists

    - name: Re-générer la config Nginx avec SSL actif
      template:
        src: ./conf/nginx_proxy.j2
        dest: "/etc/nginx/sites-available/{{ domain_name }}"
      when: not ssl_cert_check.stat.exists
      notify: Reload Nginx

  handlers:
    - name: Reload Nginx
      service:
        name: nginx
        state: reloaded