server {
    listen 80;
    server_name {{ domain_name }} www.{{ domain_name }};

    # Redirection vers HTTPS uniquement si le certificat existe
    {% if ssl_cert_check.stat.exists %}
    return 301 https://$host$request_uri;
    {% else %}
    location / {
        proxy_pass http://localhost:{{ app_port }};
    }
    {% endif %}
}

{% if ssl_cert_check.stat.exists %}
server {
    listen 443 ssl;
    server_name {{ domain_name }} www.{{ domain_name }};

    ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;

    location / {
        proxy_pass http://localhost:{{ app_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
{% endif %}